server {
    listen       {{ port }} default_server;
    server_name  _;

    location / {
        root   {{ docroot }};
        index  index.html index.htm;
    }

    error_page  404              /404.html;
    location = /404.html {
        root   /usr/share/nginx/html;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    # deny access to hidden directories/files
    location ~ /\. {
        deny  all;
    }
}
